@import 'https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

header {
  @apply p-4 pb-1 mb-2 mx-auto md:w-2/3;
}

header h1 {
  @apply text-3xl font-bold;
}

header h2 {
  @apply text-2xl font-bold mt-4;
}

#setup, #formulario {
  @apply bg-slate-100 p-2 rounded-[10px] mx-3 mt-4;
}

#root {
  @apply container w-full mx-auto flex flex-col md:w-2/3;
}

.seq .set {
  @apply mt-4 px-4;
}

.seq-form {
  @apply p-1 px-4;
}

.seq h2 {
  @apply p-1 px-4 text-lg font-bold;
}

.set h3 {
  @apply text-base font-bold;
}

.seq-form {
  @apply flex flex-wrap justify-center;
}

article {

  background-color: #d1e3e2;
  border: dashed 1px #4e4d4e;
  border-radius: 5px;

  margin: 1rem;
  padding: 0.5rem;

}

.disciplinas {
  @apply flex flex-wrap flex-row justify-between pb-2;
}

.disciplinas .input-group {
  @apply w-[25%];
  margin: 1rem auto;
  align-content: center;
}

label {
  display: block;
  margin: auto;
  align-content: center;
}

.input-group {
  @apply w-full mt-2;
}

.input-group input {
  @apply w-full grow h-10 px-3 py-2 ring-offset-background rounded-sm border border-input placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed;
}

.input-group label {
  @apply text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70;
}

.input-group input[type="checkbox"] {
  @apply h-4 w-4 shrink-0 rounded-sm border border-primary ring-offset-background;
}

.input-group input[type="checkbox"]:focus-visible {
  @apply outline-none ring-2 ring-ring ring-offset-2;
}

.input-group input[type="checkbox"]:disabled {
  @apply cursor-not-allowed opacity-50;
}

.input-group input[type="checkbox"][data-state="checked"] {
  @apply bg-primary text-primary-foreground;
}

.input-group input[type="radio"] {
  @apply aspect-square h-4 w-4 rounded-full border border-primary text-primary ring-offset-background;
}

.input-group input[type="radio"]:focus-visible {
  @apply outline-none ring-2 ring-ring ring-offset-2;
}

.input-group input[type="radio"]:disabled {
  @apply cursor-not-allowed opacity-50;
}

button {
  @apply inline-flex items-center justify-center whitespace-nowrap rounded-md font-medium ring-offset-background transition-colors bg-primary text-primary-foreground hover:bg-primary/90 h-11 w-min px-8 m-4;
}

#tabelas {
  @apply p-1 px-4;
}

#tabelas h2 {
  @apply my-2 text-lg font-bold;
}

#tabelas p {
  @apply my-1 text-lg;
}

table {
  @apply table-auto w-full;
}

table caption {
  @apply text-sm text-gray-600 mb-4;
}

table thead {
  @apply bg-gray-200;
}

table th {
  @apply px-4 py-2 text-left text-sm leading-4 font-bold text-gray-600;
}

table td {
  @apply px-4 py-2 text-sm leading-5 text-gray-900;
}

table tr {
  @apply hover:bg-gray-100;
}

table tr.selected {
  @apply bg-gray-200;
}

table tfoot {
  @apply bg-gray-200;
}